@import "../steelwork-operation/partials/variables";
@import "../steelwork-operation/partials/mixins";


//------------------------------------- color -------------------------------------

@include color-widgets("blue-lighter", $blue-lighter);
@include color-widgets("blue-light", $blue-light);
@include color-widgets("blue-deep", $blue-deep);
@include color-widgets("blue-edi", $blue-edi);

@include color-widgets("orange-lighter", $orange-lighter);
@include color-widgets("orange-light", $orange-light);
@include color-widgets("orange-deep", $orange-deep);

@include color-widgets("gray-lighter", $gray-lighter);
@include color-widgets("gray-light", $gray-light);
@include color-widgets("gray-medium", $gray-medium);
@include color-widgets("gray-deep", $gray-deep);

@include color-widgets("green", $green);

.hightlight-orange {
  color: $orange-deep;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  margin-left: 5px;
  margin-right: 5px;
}

.color-readonly {
  color: #808080 !important;
}

.bg-color-white,
.bgc-white {
  background-color: #fff !important;
}

.color-warning {
  color: red;
}


//------------------------------------- font -------------------------------------

.font-weight-bold {
  font-weight: bold;
}

@each $i in 200, 400, 600, 800 {
  $num: $i;
  .font-weight-#{$i} {
    font-weight: $num;
  }
}

@each $i in 12, 14, 16, 18, 20, 30, 40 {
  $num: $i * 1px;
  .font-size-#{$i} {
    font-size: $num !important;
  }
}

.line-throgh {
  text-decoration: line-through;
}


//------------------------------------- layout -------------------------------------

.text-left {
  text-align: left !important;
}

.text_center,
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.width-full {
  width: 100% !important;
}

.height-full {
  height: 100% !important;
}

.min-height-325 {
  min-height: 325px;
}

.no-max-width {
  max-width: none;
}

@each $i in 1, 2, 3 {
  .line-height-#{$i} {
    line-height: $i !important;
  }
}

@each $i in 14, 21, 28, 32, 35, 40, 42 {
  $num: $i * 1px;
  .line-height-#{$i} {
    line-height: $num !important;
  }
}

@each $i in 0, 5, 10, 15, 20, 25, 30 {
  $num: $i * 1px;
  .mg-all-#{$i} {
    margin: $num;
  }
  .mgt-#{$i} {
    margin-top: $num;
  }
  .mgr-#{$i} {
    margin-right: $num;
  }
  .mgb-#{$i} {
    margin-bottom: $num;
  }
  .mgl-#{$i} {
    margin-left: $num;
  }
  .pd-all-#{$i} {
    padding: $num;
  }
  .pdt-#{$i} {
    padding-top: $num;
  }
  .pdr-#{$i} {
    padding-right: $num;
  }
  .pdb-#{$i} {
    padding-bottom: $num;
  }
  .pdl-#{$i} {
    padding-left: $num;
  }
  .radius-#{$i} {
    @include border-radius($num);
  }
}

.mt_20 {
  margin-top: 2em;
}

.mr_10 {
  margin-right: 1em;
}

.ml_10 {
  margin-left: 1em;
}

.mr_15 {
  margin-right: 1.5em;
}

.ml_15 {
  margin-left: 1.5em;
}

.mr_20 {
  margin-right: 2em;
}

.ml_20 {
  margin-left: 2em;
}


//------------------------------------- table -------------------------------------
.fixed {
  table-layout: fixed;
}


//------------------------------------- other -------------------------------------

.no-radius {
  border-radius: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.text-overflow-hidden {
  @include text-overflow();
}

.remarks {
  max-width: 8em;
  padding-left: 1em;
  @extend .text-overflow-hidden;
}

.star-before:before,
.star-after:after {
  content: "*";
  position: absolute;
  color: red;
  margin-left: -10px;
  margin-top: 2px;
}

.star-before-orange:before,
.star-after-orange:after {
  content: "*";
  position: absolute;
  color: $orange-deep;
  margin-left: -10px;
  margin-top: 3px;
}

.star-orange-deep {
  display: inline;
  color: $orange-deep;
  vertical-align: middle;
  margin-right: 2px;
}

