@font-face {
  font-family: 'faicon';
  src: url("../../fonts/faicon/faicon.eot?vhua1b");
  src: url("../../fonts/faicon/faicon.eot?#iefixvhua1b") format("embedded-opentype"), url("../../fonts/faicon/faicon.ttf?vhua1b") format("truetype"), url("../../fonts/faicon/faicon.woff?vhua1b") format("woff"), url("../../fonts/faicon/faicon.svg?vhua1b#faicon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.faicon {
  font-family: 'faicon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: .2em;
}

.faicon-glass:before {
  content: "\f000";
}

.faicon-music:before {
  content: "\f001";
}

.faicon-search:before {
  content: "\f002";
}

.faicon-envelope-o:before {
  content: "\f003";
}

.faicon-heart:before {
  content: "\f004";
}

.faicon-star:before {
  content: "\f005";
}

.faicon-star-o:before {
  content: "\f006";
}

.faicon-user:before {
  content: "\f007";
}

.faicon-film:before {
  content: "\f008";
}

.faicon-th-large:before {
  content: "\f009";
}

.faicon-th:before {
  content: "\f00a";
}

.faicon-th-list:before {
  content: "\f00b";
}

.faicon-check:before {
  content: "\f00c";
}

.faicon-close:before {
  content: "\f00d";
}

.faicon-search-plus:before {
  content: "\f00e";
}

.faicon-search-minus:before {
  content: "\f010";
}

.faicon-power-off:before {
  content: "\f011";
}

.faicon-signal:before {
  content: "\f012";
}

.faicon-cog:before {
  content: "\f013";
}

.faicon-trash-o:before {
  content: "\f014";
}

.faicon-home:before {
  content: "\f015";
}

.faicon-file-o:before {
  content: "\f016";
}

.faicon-clock-o:before {
  content: "\f017";
}

.faicon-road:before {
  content: "\f018";
}

.faicon-download:before {
  content: "\f019";
}

.faicon-arrow-circle-o-down:before {
  content: "\f01a";
}

.faicon-arrow-circle-o-up:before {
  content: "\f01b";
}

.faicon-inbox:before {
  content: "\f01c";
}

.faicon-play-circle-o:before {
  content: "\f01d";
}

.faicon-repeat:before {
  content: "\f01e";
}

.faicon-refresh:before {
  content: "\f021";
}

.faicon-list-alt:before {
  content: "\f022";
}

.faicon-lock:before {
  content: "\f023";
}

.faicon-flag:before {
  content: "\f024";
}

.faicon-headphones:before {
  content: "\f025";
}

.faicon-volume-off:before {
  content: "\f026";
}

.faicon-volume-down:before {
  content: "\f027";
}

.faicon-volume-up:before {
  content: "\f028";
}

.faicon-qrcode:before {
  content: "\f029";
}

.faicon-barcode:before {
  content: "\f02a";
}

.faicon-tag:before {
  content: "\f02b";
}

.faicon-tags:before {
  content: "\f02c";
}

.faicon-book:before {
  content: "\f02d";
}

.faicon-bookmark:before {
  content: "\f02e";
}

.faicon-print:before {
  content: "\f02f";
}

.faicon-camera:before {
  content: "\f030";
}

.faicon-font:before {
  content: "\f031";
}

.faicon-bold:before {
  content: "\f032";
}

.faicon-italic:before {
  content: "\f033";
}

.faicon-text-height:before {
  content: "\f034";
}

.faicon-text-width:before {
  content: "\f035";
}

.faicon-align-left:before {
  content: "\f036";
}

.faicon-align-center:before {
  content: "\f037";
}

.faicon-align-right:before {
  content: "\f038";
}

.faicon-align-justify:before {
  content: "\f039";
}

.faicon-list:before {
  content: "\f03a";
}

.faicon-dedent:before {
  content: "\f03b";
}

.faicon-indent:before {
  content: "\f03c";
}

.faicon-video-camera:before {
  content: "\f03d";
}

.faicon-image:before {
  content: "\f03e";
}

.faicon-pencil:before {
  content: "\f040";
}

.faicon-map-marker:before {
  content: "\f041";
}

.faicon-adjust:before {
  content: "\f042";
}

.faicon-tint:before {
  content: "\f043";
}

.faicon-edit:before {
  content: "\f044";
}

.faicon-share-square-o:before {
  content: "\f045";
}

.faicon-check-square-o:before {
  content: "\f046";
}

.faicon-arrows:before {
  content: "\f047";
}

.faicon-step-backward:before {
  content: "\f048";
}

.faicon-fast-backward:before {
  content: "\f049";
}

.faicon-backward:before {
  content: "\f04a";
}

.faicon-play:before {
  content: "\f04b";
}

.faicon-pause:before {
  content: "\f04c";
}

.faicon-stop:before {
  content: "\f04d";
}

.faicon-forward:before {
  content: "\f04e";
}

.faicon-fast-forward:before {
  content: "\f050";
}

.faicon-step-forward:before {
  content: "\f051";
}

.faicon-eject:before {
  content: "\f052";
}

.faicon-chevron-left:before {
  content: "\f053";
}

.faicon-chevron-right:before {
  content: "\f054";
}

.faicon-plus-circle:before {
  content: "\f055";
}

.faicon-minus-circle:before {
  content: "\f056";
}

.faicon-times-circle:before {
  content: "\f057";
}

.faicon-check-circle:before {
  content: "\f058";
}

.faicon-question-circle:before {
  content: "\f059";
}

.faicon-info-circle:before {
  content: "\f05a";
}

.faicon-crosshairs:before {
  content: "\f05b";
}

.faicon-times-circle-o:before {
  content: "\f05c";
}

.faicon-check-circle-o:before {
  content: "\f05d";
}

.faicon-ban:before {
  content: "\f05e";
}

.faicon-arrow-left:before {
  content: "\f060";
}

.faicon-arrow-right:before {
  content: "\f061";
}

.faicon-arrow-up:before {
  content: "\f062";
}

.faicon-arrow-down:before {
  content: "\f063";
}

.faicon-mail-forward:before {
  content: "\f064";
}

.faicon-expand:before {
  content: "\f065";
}

.faicon-compress:before {
  content: "\f066";
}

.faicon-plus:before {
  content: "\f067";
}

.faicon-minus:before {
  content: "\f068";
}

.faicon-asterisk:before {
  content: "\f069";
}

.faicon-exclamation-circle:before {
  content: "\f06a";
}

.faicon-gift:before {
  content: "\f06b";
}

.faicon-leaf:before {
  content: "\f06c";
}

.faicon-fire:before {
  content: "\f06d";
}

.faicon-eye:before {
  content: "\f06e";
}

.faicon-eye-slash:before {
  content: "\f070";
}

.faicon-exclamation-triangle:before {
  content: "\f071";
}

.faicon-plane:before {
  content: "\f072";
}

.faicon-calendar:before {
  content: "\f073";
}

.faicon-random:before {
  content: "\f074";
}

.faicon-comment:before {
  content: "\f075";
}

.faicon-magnet:before {
  content: "\f076";
}

.faicon-chevron-up:before {
  content: "\f077";
}

.faicon-chevron-down:before {
  content: "\f078";
}

.faicon-retweet:before {
  content: "\f079";
}

.faicon-shopping-cart:before {
  content: "\f07a";
}

.faicon-folder:before {
  content: "\f07b";
}

.faicon-folder-open:before {
  content: "\f07c";
}

.faicon-arrows-v:before {
  content: "\f07d";
}

.faicon-arrows-h:before {
  content: "\f07e";
}

.faicon-bar-chart:before {
  content: "\f080";
}

.faicon-twitter-square:before {
  content: "\f081";
}

.faicon-facebook-square:before {
  content: "\f082";
}

.faicon-camera-retro:before {
  content: "\f083";
}

.faicon-key:before {
  content: "\f084";
}

.faicon-cogs:before {
  content: "\f085";
}

.faicon-comments:before {
  content: "\f086";
}

.faicon-thumbs-o-up:before {
  content: "\f087";
}

.faicon-thumbs-o-down:before {
  content: "\f088";
}

.faicon-star-half:before {
  content: "\f089";
}

.faicon-heart-o:before {
  content: "\f08a";
}

.faicon-sign-out:before {
  content: "\f08b";
}

.faicon-linkedin-square:before {
  content: "\f08c";
}

.faicon-thumb-tack:before {
  content: "\f08d";
}

.faicon-external-link:before {
  content: "\f08e";
}

.faicon-sign-in:before {
  content: "\f090";
}

.faicon-trophy:before {
  content: "\f091";
}

.faicon-github-square:before {
  content: "\f092";
}

.faicon-upload:before {
  content: "\f093";
}

.faicon-lemon-o:before {
  content: "\f094";
}

.faicon-phone:before {
  content: "\f095";
}

.faicon-square-o:before {
  content: "\f096";
}

.faicon-bookmark-o:before {
  content: "\f097";
}

.faicon-phone-square:before {
  content: "\f098";
}

.faicon-twitter:before {
  content: "\f099";
}

.faicon-facebook:before {
  content: "\f09a";
}

.faicon-github:before {
  content: "\f09b";
}

.faicon-unlock:before {
  content: "\f09c";
}

.faicon-credit-card:before {
  content: "\f09d";
}

.faicon-feed:before {
  content: "\f09e";
}

.faicon-hdd-o:before {
  content: "\f0a0";
}

.faicon-bullhorn:before {
  content: "\f0a1";
}

.faicon-bell-o:before {
  content: "\f0a2";
}

.faicon-certificate:before {
  content: "\f0a3";
}

.faicon-hand-o-right:before {
  content: "\f0a4";
}

.faicon-hand-o-left:before {
  content: "\f0a5";
}

.faicon-hand-o-up:before {
  content: "\f0a6";
}

.faicon-hand-o-down:before {
  content: "\f0a7";
}

.faicon-arrow-circle-left:before {
  content: "\f0a8";
}

.faicon-arrow-circle-right:before {
  content: "\f0a9";
}

.faicon-arrow-circle-up:before {
  content: "\f0aa";
}

.faicon-arrow-circle-down:before {
  content: "\f0ab";
}

.faicon-globe:before {
  content: "\f0ac";
}

.faicon-wrench:before {
  content: "\f0ad";
}

.faicon-tasks:before {
  content: "\f0ae";
}

.faicon-filter:before {
  content: "\f0b0";
}

.faicon-briefcase:before {
  content: "\f0b1";
}

.faicon-arrows-alt:before {
  content: "\f0b2";
}

.faicon-group:before {
  content: "\f0c0";
}

.faicon-chain:before {
  content: "\f0c1";
}

.faicon-cloud:before {
  content: "\f0c2";
}

.faicon-flask:before {
  content: "\f0c3";
}

.faicon-cut:before {
  content: "\f0c4";
}

.faicon-copy:before {
  content: "\f0c5";
}

.faicon-paperclip:before {
  content: "\f0c6";
}

.faicon-floppy-o:before {
  content: "\f0c7";
}

.faicon-square:before {
  content: "\f0c8";
}

.faicon-bars:before {
  content: "\f0c9";
}

.faicon-list-ul:before {
  content: "\f0ca";
}

.faicon-list-ol:before {
  content: "\f0cb";
}

.faicon-strikethrough:before {
  content: "\f0cc";
}

.faicon-underline:before {
  content: "\f0cd";
}

.faicon-table:before {
  content: "\f0ce";
}

.faicon-magic:before {
  content: "\f0d0";
}

.faicon-truck:before {
  content: "\f0d1";
}

.faicon-pinterest:before {
  content: "\f0d2";
}

.faicon-pinterest-square:before {
  content: "\f0d3";
}

.faicon-google-plus-square:before {
  content: "\f0d4";
}

.faicon-google-plus:before {
  content: "\f0d5";
}

.faicon-money:before {
  content: "\f0d6";
}

.faicon-caret-down:before {
  content: "\f0d7";
}

.faicon-caret-up:before {
  content: "\f0d8";
}

.faicon-caret-left:before {
  content: "\f0d9";
}

.faicon-caret-right:before {
  content: "\f0da";
}

.faicon-columns:before {
  content: "\f0db";
}

.faicon-sort:before {
  content: "\f0dc";
}

.faicon-sort-desc:before {
  content: "\f0dd";
}

.faicon-sort-asc:before {
  content: "\f0de";
}

.faicon-envelope:before {
  content: "\f0e0";
}

.faicon-linkedin:before {
  content: "\f0e1";
}

.faicon-rotate-left:before {
  content: "\f0e2";
}

.faicon-gavel:before {
  content: "\f0e3";
}

.faicon-dashboard:before {
  content: "\f0e4";
}

.faicon-comment-o:before {
  content: "\f0e5";
}

.faicon-comments-o:before {
  content: "\f0e6";
}

.faicon-bolt:before {
  content: "\f0e7";
}

.faicon-sitemap:before {
  content: "\f0e8";
}

.faicon-umbrella:before {
  content: "\f0e9";
}

.faicon-clipboard:before {
  content: "\f0ea";
}

.faicon-lightbulb-o:before {
  content: "\f0eb";
}

.faicon-exchange:before {
  content: "\f0ec";
}

.faicon-cloud-download:before {
  content: "\f0ed";
}

.faicon-cloud-upload:before {
  content: "\f0ee";
}

.faicon-user-md:before {
  content: "\f0f0";
}

.faicon-stethoscope:before {
  content: "\f0f1";
}

.faicon-suitcase:before {
  content: "\f0f2";
}

.faicon-bell:before {
  content: "\f0f3";
}

.faicon-coffee:before {
  content: "\f0f4";
}

.faicon-cutlery:before {
  content: "\f0f5";
}

.faicon-file-text-o:before {
  content: "\f0f6";
}

.faicon-building-o:before {
  content: "\f0f7";
}

.faicon-hospital-o:before {
  content: "\f0f8";
}

.faicon-ambulance:before {
  content: "\f0f9";
}

.faicon-medkit:before {
  content: "\f0fa";
}

.faicon-fighter-jet:before {
  content: "\f0fb";
}

.faicon-beer:before {
  content: "\f0fc";
}

.faicon-h-square:before {
  content: "\f0fd";
}

.faicon-plus-square:before {
  content: "\f0fe";
}

.faicon-angle-double-left:before {
  content: "\f100";
}

.faicon-angle-double-right:before {
  content: "\f101";
}

.faicon-angle-double-up:before {
  content: "\f102";
}

.faicon-angle-double-down:before {
  content: "\f103";
}

.faicon-angle-left:before {
  content: "\f104";
}

.faicon-angle-right:before {
  content: "\f105";
}

.faicon-angle-up:before {
  content: "\f106";
}

.faicon-angle-down:before {
  content: "\f107";
}

.faicon-desktop:before {
  content: "\f108";
}

.faicon-laptop:before {
  content: "\f109";
}

.faicon-tablet:before {
  content: "\f10a";
}

.faicon-mobile:before {
  content: "\f10b";
}

.faicon-circle-o:before {
  content: "\f10c";
}

.faicon-quote-left:before {
  content: "\f10d";
}

.faicon-quote-right:before {
  content: "\f10e";
}

.faicon-spinner:before {
  content: "\f110";
}

.faicon-circle:before {
  content: "\f111";
}

.faicon-mail-reply:before {
  content: "\f112";
}

.faicon-github-alt:before {
  content: "\f113";
}

.faicon-folder-o:before {
  content: "\f114";
}

.faicon-folder-open-o:before {
  content: "\f115";
}

.faicon-smile-o:before {
  content: "\f118";
}

.faicon-frown-o:before {
  content: "\f119";
}

.faicon-meh-o:before {
  content: "\f11a";
}

.faicon-gamepad:before {
  content: "\f11b";
}

.faicon-keyboard-o:before {
  content: "\f11c";
}

.faicon-flag-o:before {
  content: "\f11d";
}

.faicon-flag-checkered:before {
  content: "\f11e";
}

.faicon-terminal:before {
  content: "\f120";
}

.faicon-code:before {
  content: "\f121";
}

.faicon-mail-reply-all:before {
  content: "\f122";
}

.faicon-star-half-empty:before {
  content: "\f123";
}

.faicon-location-arrow:before {
  content: "\f124";
}

.faicon-crop:before {
  content: "\f125";
}

.faicon-code-fork:before {
  content: "\f126";
}

.faicon-chain-broken:before {
  content: "\f127";
}

.faicon-question:before {
  content: "\f128";
}

.faicon-info:before {
  content: "\f129";
}

.faicon-exclamation:before {
  content: "\f12a";
}

.faicon-superscript:before {
  content: "\f12b";
}

.faicon-subscript:before {
  content: "\f12c";
}

.faicon-eraser:before {
  content: "\f12d";
}

.faicon-puzzle-piece:before {
  content: "\f12e";
}

.faicon-microphone:before {
  content: "\f130";
}

.faicon-microphone-slash:before {
  content: "\f131";
}

.faicon-shield:before {
  content: "\f132";
}

.faicon-calendar-o:before {
  content: "\f133";
}

.faicon-fire-extinguisher:before {
  content: "\f134";
}

.faicon-rocket:before {
  content: "\f135";
}

.faicon-maxcdn:before {
  content: "\f136";
}

.faicon-chevron-circle-left:before {
  content: "\f137";
}

.faicon-chevron-circle-right:before {
  content: "\f138";
}

.faicon-chevron-circle-up:before {
  content: "\f139";
}

.faicon-chevron-circle-down:before {
  content: "\f13a";
}

.faicon-html5:before {
  content: "\f13b";
}

.faicon-css3:before {
  content: "\f13c";
}

.faicon-anchor:before {
  content: "\f13d";
}

.faicon-unlock-alt:before {
  content: "\f13e";
}

.faicon-bullseye:before {
  content: "\f140";
}

.faicon-ellipsis-h:before {
  content: "\f141";
}

.faicon-ellipsis-v:before {
  content: "\f142";
}

.faicon-rss-square:before {
  content: "\f143";
}

.faicon-play-circle:before {
  content: "\f144";
}

.faicon-ticket:before {
  content: "\f145";
}

.faicon-minus-square:before {
  content: "\f146";
}

.faicon-minus-square-o:before {
  content: "\f147";
}

.faicon-level-up:before {
  content: "\f148";
}

.faicon-level-down:before {
  content: "\f149";
}

.faicon-check-square:before {
  content: "\f14a";
}

.faicon-pencil-square:before {
  content: "\f14b";
}

.faicon-external-link-square:before {
  content: "\f14c";
}

.faicon-share-square:before {
  content: "\f14d";
}

.faicon-compass:before {
  content: "\f14e";
}

.faicon-caret-square-o-down:before {
  content: "\f150";
}

.faicon-caret-square-o-up:before {
  content: "\f151";
}

.faicon-caret-square-o-right:before {
  content: "\f152";
}

.faicon-eur:before {
  content: "\f153";
}

.faicon-gbp:before {
  content: "\f154";
}

.faicon-dollar:before {
  content: "\f155";
}

.faicon-inr:before {
  content: "\f156";
}

.faicon-cny:before {
  content: "\f157";
}

.faicon-rouble:before {
  content: "\f158";
}

.faicon-krw:before {
  content: "\f159";
}

.faicon-bitcoin:before {
  content: "\f15a";
}

.faicon-file:before {
  content: "\f15b";
}

.faicon-file-text:before {
  content: "\f15c";
}

.faicon-sort-alpha-asc:before {
  content: "\f15d";
}

.faicon-sort-alpha-desc:before {
  content: "\f15e";
}

.faicon-sort-amount-asc:before {
  content: "\f160";
}

.faicon-sort-amount-desc:before {
  content: "\f161";
}

.faicon-sort-numeric-asc:before {
  content: "\f162";
}

.faicon-sort-numeric-desc:before {
  content: "\f163";
}

.faicon-thumbs-up:before {
  content: "\f164";
}

.faicon-thumbs-down:before {
  content: "\f165";
}

.faicon-youtube-square:before {
  content: "\f166";
}

.faicon-youtube:before {
  content: "\f167";
}

.faicon-xing:before {
  content: "\f168";
}

.faicon-xing-square:before {
  content: "\f169";
}

.faicon-youtube-play:before {
  content: "\f16a";
}

.faicon-dropbox:before {
  content: "\f16b";
}

.faicon-stack-overflow:before {
  content: "\f16c";
}

.faicon-instagram:before {
  content: "\f16d";
}

.faicon-flickr:before {
  content: "\f16e";
}

.faicon-adn:before {
  content: "\f170";
}

.faicon-bitbucket:before {
  content: "\f171";
}

.faicon-bitbucket-square:before {
  content: "\f172";
}

.faicon-tumblr:before {
  content: "\f173";
}

.faicon-tumblr-square:before {
  content: "\f174";
}

.faicon-long-arrow-down:before {
  content: "\f175";
}

.faicon-long-arrow-up:before {
  content: "\f176";
}

.faicon-long-arrow-left:before {
  content: "\f177";
}

.faicon-long-arrow-right:before {
  content: "\f178";
}

.faicon-apple:before {
  content: "\f179";
}

.faicon-windows:before {
  content: "\f17a";
}

.faicon-android:before {
  content: "\f17b";
}

.faicon-linux:before {
  content: "\f17c";
}

.faicon-dribbble:before {
  content: "\f17d";
}

.faicon-skype:before {
  content: "\f17e";
}

.faicon-foursquare:before {
  content: "\f180";
}

.faicon-trello:before {
  content: "\f181";
}

.faicon-female:before {
  content: "\f182";
}

.faicon-male:before {
  content: "\f183";
}

.faicon-gittip:before {
  content: "\f184";
}

.faicon-sun-o:before {
  content: "\f185";
}

.faicon-moon-o:before {
  content: "\f186";
}

.faicon-archive:before {
  content: "\f187";
}

.faicon-bug:before {
  content: "\f188";
}

.faicon-vk:before {
  content: "\f189";
}

.faicon-weibo:before {
  content: "\f18a";
}

.faicon-renren:before {
  content: "\f18b";
}

.faicon-pagelines:before {
  content: "\f18c";
}

.faicon-stack-exchange:before {
  content: "\f18d";
}

.faicon-arrow-circle-o-right:before {
  content: "\f18e";
}

.faicon-arrow-circle-o-left:before {
  content: "\f190";
}

.faicon-caret-square-o-left:before {
  content: "\f191";
}

.faicon-dot-circle-o:before {
  content: "\f192";
}

.faicon-wheelchair:before {
  content: "\f193";
}

.faicon-vimeo-square:before {
  content: "\f194";
}

.faicon-try:before {
  content: "\f195";
}

.faicon-plus-square-o:before {
  content: "\f196";
}

.faicon-space-shuttle:before {
  content: "\f197";
}

.faicon-slack:before {
  content: "\f198";
}

.faicon-envelope-square:before {
  content: "\f199";
}

.faicon-wordpress:before {
  content: "\f19a";
}

.faicon-openid:before {
  content: "\f19b";
}

.faicon-bank:before {
  content: "\f19c";
}

.faicon-graduation-cap:before {
  content: "\f19d";
}

.faicon-yahoo:before {
  content: "\f19e";
}

.faicon-google:before {
  content: "\f1a0";
}

.faicon-reddit:before {
  content: "\f1a1";
}

.faicon-reddit-square:before {
  content: "\f1a2";
}

.faicon-stumbleupon-circle:before {
  content: "\f1a3";
}

.faicon-stumbleupon:before {
  content: "\f1a4";
}

.faicon-delicious:before {
  content: "\f1a5";
}

.faicon-digg:before {
  content: "\f1a6";
}

.faicon-pied-piper:before {
  content: "\f1a7";
}

.faicon-pied-piper-alt:before {
  content: "\f1a8";
}

.faicon-drupal:before {
  content: "\f1a9";
}

.faicon-joomla:before {
  content: "\f1aa";
}

.faicon-language:before {
  content: "\f1ab";
}

.faicon-fax:before {
  content: "\f1ac";
}

.faicon-building:before {
  content: "\f1ad";
}

.faicon-child:before {
  content: "\f1ae";
}

.faicon-paw:before {
  content: "\f1b0";
}

.faicon-spoon:before {
  content: "\f1b1";
}

.faicon-cube:before {
  content: "\f1b2";
}

.faicon-cubes:before {
  content: "\f1b3";
}

.faicon-behance:before {
  content: "\f1b4";
}

.faicon-behance-square:before {
  content: "\f1b5";
}

.faicon-steam:before {
  content: "\f1b6";
}

.faicon-steam-square:before {
  content: "\f1b7";
}

.faicon-recycle:before {
  content: "\f1b8";
}

.faicon-automobile:before {
  content: "\f1b9";
}

.faicon-cab:before {
  content: "\f1ba";
}

.faicon-tree:before {
  content: "\f1bb";
}

.faicon-spotify:before {
  content: "\f1bc";
}

.faicon-deviantart:before {
  content: "\f1bd";
}

.faicon-soundcloud:before {
  content: "\f1be";
}

.faicon-database:before {
  content: "\f1c0";
}

.faicon-file-pdf-o:before {
  content: "\f1c1";
}

.faicon-file-word-o:before {
  content: "\f1c2";
}

.faicon-file-excel-o:before {
  content: "\f1c3";
}

.faicon-file-powerpoint-o:before {
  content: "\f1c4";
}

.faicon-file-image-o:before {
  content: "\f1c5";
}

.faicon-file-archive-o:before {
  content: "\f1c6";
}

.faicon-file-audio-o:before {
  content: "\f1c7";
}

.faicon-file-movie-o:before {
  content: "\f1c8";
}

.faicon-file-code-o:before {
  content: "\f1c9";
}

.faicon-vine:before {
  content: "\f1ca";
}

.faicon-codepen:before {
  content: "\f1cb";
}

.faicon-jsfiddle:before {
  content: "\f1cc";
}

.faicon-life-bouy:before {
  content: "\f1cd";
}

.faicon-circle-o-notch:before {
  content: "\f1ce";
}

.faicon-ra:before {
  content: "\f1d0";
}

.faicon-empire:before {
  content: "\f1d1";
}

.faicon-git-square:before {
  content: "\f1d2";
}

.faicon-git:before {
  content: "\f1d3";
}

.faicon-hacker-news:before {
  content: "\f1d4";
}

.faicon-tencent-weibo:before {
  content: "\f1d5";
}

.faicon-qq:before {
  content: "\f1d6";
}

.faicon-wechat:before {
  content: "\f1d7";
}

.faicon-paper-plane:before {
  content: "\f1d8";
}

.faicon-paper-plane-o:before {
  content: "\f1d9";
}

.faicon-history:before {
  content: "\f1da";
}

.faicon-circle-thin:before {
  content: "\f1db";
}

.faicon-header:before {
  content: "\f1dc";
}

.faicon-paragraph:before {
  content: "\f1dd";
}

.faicon-sliders:before {
  content: "\f1de";
}

.faicon-share-alt:before {
  content: "\f1e0";
}

.faicon-share-alt-square:before {
  content: "\f1e1";
}

.faicon-bomb:before {
  content: "\f1e2";
}

.faicon-futbol-o:before {
  content: "\f1e3";
}

.faicon-tty:before {
  content: "\f1e4";
}

.faicon-binoculars:before {
  content: "\f1e5";
}

.faicon-plug:before {
  content: "\f1e6";
}

.faicon-slideshare:before {
  content: "\f1e7";
}

.faicon-twitch:before {
  content: "\f1e8";
}

.faicon-yelp:before {
  content: "\f1e9";
}

.faicon-newspaper-o:before {
  content: "\f1ea";
}

.faicon-wifi:before {
  content: "\f1eb";
}

.faicon-calculator:before {
  content: "\f1ec";
}

.faicon-paypal:before {
  content: "\f1ed";
}

.faicon-google-wallet:before {
  content: "\f1ee";
}

.faicon-cc-visa:before {
  content: "\f1f0";
}

.faicon-cc-mastercard:before {
  content: "\f1f1";
}

.faicon-cc-discover:before {
  content: "\f1f2";
}

.faicon-cc-amex:before {
  content: "\f1f3";
}

.faicon-cc-paypal:before {
  content: "\f1f4";
}

.faicon-cc-stripe:before {
  content: "\f1f5";
}

.faicon-bell-slash:before {
  content: "\f1f6";
}

.faicon-bell-slash-o:before {
  content: "\f1f7";
}

.faicon-trash:before {
  content: "\f1f8";
}

.faicon-copyright:before {
  content: "\f1f9";
}

.faicon-at:before {
  content: "\f1fa";
}

.faicon-eyedropper:before {
  content: "\f1fb";
}

.faicon-paint-brush:before {
  content: "\f1fc";
}

.faicon-birthday-cake:before {
  content: "\f1fd";
}

.faicon-area-chart:before {
  content: "\f1fe";
}

.faicon-pie-chart:before {
  content: "\f200";
}

.faicon-line-chart:before {
  content: "\f201";
}

.faicon-lastfm:before {
  content: "\f202";
}

.faicon-lastfm-square:before {
  content: "\f203";
}

.faicon-toggle-off:before {
  content: "\f204";
}

.faicon-toggle-on:before {
  content: "\f205";
}

.faicon-bicycle:before {
  content: "\f206";
}

.faicon-bus:before {
  content: "\f207";
}

.faicon-ioxhost:before {
  content: "\f208";
}

.faicon-angellist:before {
  content: "\f209";
}

.faicon-cc:before {
  content: "\f20a";
}

.faicon-ils:before {
  content: "\f20b";
}

.faicon-meanpath:before {
  content: "\f20c";
}

.faicon-buysellads:before {
  content: "\f20d";
}

.faicon-connectdevelop:before {
  content: "\f20e";
}

.faicon-dashcube:before {
  content: "\f210";
}

.faicon-forumbee:before {
  content: "\f211";
}

.faicon-leanpub:before {
  content: "\f212";
}

.faicon-sellsy:before {
  content: "\f213";
}

.faicon-shirtsinbulk:before {
  content: "\f214";
}

.faicon-simplybuilt:before {
  content: "\f215";
}

.faicon-skyatlas:before {
  content: "\f216";
}

.faicon-cart-plus:before {
  content: "\f217";
}

.faicon-cart-arrow-down:before {
  content: "\f218";
}

.faicon-diamond:before {
  content: "\f219";
}

.faicon-ship:before {
  content: "\f21a";
}

.faicon-user-secret:before {
  content: "\f21b";
}

.faicon-motorcycle:before {
  content: "\f21c";
}

.faicon-street-view:before {
  content: "\f21d";
}

.faicon-heartbeat:before {
  content: "\f21e";
}

.faicon-venus:before {
  content: "\f221";
}

.faicon-mars:before {
  content: "\f222";
}

.faicon-mercury:before {
  content: "\f223";
}

.faicon-intersex:before {
  content: "\f224";
}

.faicon-transgender-alt:before {
  content: "\f225";
}

.faicon-venus-double:before {
  content: "\f226";
}

.faicon-mars-double:before {
  content: "\f227";
}

.faicon-venus-mars:before {
  content: "\f228";
}

.faicon-mars-stroke:before {
  content: "\f229";
}

.faicon-mars-stroke-v:before {
  content: "\f22a";
}

.faicon-mars-stroke-h:before {
  content: "\f22b";
}

.faicon-neuter:before {
  content: "\f22c";
}

.faicon-genderless:before {
  content: "\f22d";
}

.faicon-facebook-official:before {
  content: "\f230";
}

.faicon-pinterest-p:before {
  content: "\f231";
}

.faicon-whatsapp:before {
  content: "\f232";
}

.faicon-server:before {
  content: "\f233";
}

.faicon-user-plus:before {
  content: "\f234";
}

.faicon-user-times:before {
  content: "\f235";
}

.faicon-bed:before {
  content: "\f236";
}

.faicon-viacoin:before {
  content: "\f237";
}

.faicon-train:before {
  content: "\f238";
}

.faicon-subway:before {
  content: "\f239";
}

.faicon-medium:before {
  content: "\f23a";
}

.faicon-y-combinator:before {
  content: "\f23b";
}

.faicon-optin-monster:before {
  content: "\f23c";
}

.faicon-opencart:before {
  content: "\f23d";
}

.faicon-expeditedssl:before {
  content: "\f23e";
}

.faicon-battery-4:before {
  content: "\f240";
}

.faicon-battery-3:before {
  content: "\f241";
}

.faicon-battery-2:before {
  content: "\f242";
}

.faicon-battery-1:before {
  content: "\f243";
}

.faicon-battery-0:before {
  content: "\f244";
}

.faicon-mouse-pointer:before {
  content: "\f245";
}

.faicon-i-cursor:before {
  content: "\f246";
}

.faicon-object-group:before {
  content: "\f247";
}

.faicon-object-ungroup:before {
  content: "\f248";
}

.faicon-sticky-note:before {
  content: "\f249";
}

.faicon-sticky-note-o:before {
  content: "\f24a";
}

.faicon-cc-jcb:before {
  content: "\f24b";
}

.faicon-cc-diners-club:before {
  content: "\f24c";
}

.faicon-clone:before {
  content: "\f24d";
}

.faicon-balance-scale:before {
  content: "\f24e";
}

.faicon-hourglass-o:before {
  content: "\f250";
}

.faicon-hourglass-1:before {
  content: "\f251";
}

.faicon-hourglass-2:before {
  content: "\f252";
}

.faicon-hourglass-3:before {
  content: "\f253";
}

.faicon-hourglass:before {
  content: "\f254";
}

.faicon-hand-grab-o:before {
  content: "\f255";
}

.faicon-hand-paper-o:before {
  content: "\f256";
}

.faicon-hand-scissors-o:before {
  content: "\f257";
}

.faicon-hand-lizard-o:before {
  content: "\f258";
}

.faicon-hand-spock-o:before {
  content: "\f259";
}

.faicon-hand-pointer-o:before {
  content: "\f25a";
}

.faicon-hand-peace-o:before {
  content: "\f25b";
}

.faicon-trademark:before {
  content: "\f25c";
}

.faicon-registered:before {
  content: "\f25d";
}

.faicon-creative-commons:before {
  content: "\f25e";
}

.faicon-gg:before {
  content: "\f260";
}

.faicon-gg-circle:before {
  content: "\f261";
}

.faicon-tripadvisor:before {
  content: "\f262";
}

.faicon-odnoklassniki:before {
  content: "\f263";
}

.faicon-odnoklassniki-square:before {
  content: "\f264";
}

.faicon-get-pocket:before {
  content: "\f265";
}

.faicon-wikipedia-w:before {
  content: "\f266";
}

.faicon-safari:before {
  content: "\f267";
}

.faicon-chrome:before {
  content: "\f268";
}

.faicon-firefox:before {
  content: "\f269";
}

.faicon-opera:before {
  content: "\f26a";
}

.faicon-internet-explorer:before {
  content: "\f26b";
}

.faicon-television:before {
  content: "\f26c";
}

.faicon-contao:before {
  content: "\f26d";
}

.faicon-500px:before {
  content: "\f26e";
}

.faicon-amazon:before {
  content: "\f270";
}

.faicon-calendar-plus-o:before {
  content: "\f271";
}

.faicon-calendar-minus-o:before {
  content: "\f272";
}

.faicon-calendar-times-o:before {
  content: "\f273";
}

.faicon-calendar-check-o:before {
  content: "\f274";
}

.faicon-industry:before {
  content: "\f275";
}

.faicon-map-pin:before {
  content: "\f276";
}

.faicon-map-signs:before {
  content: "\f277";
}

.faicon-map-o:before {
  content: "\f278";
}

.faicon-map:before {
  content: "\f279";
}

.faicon-commenting:before {
  content: "\f27a";
}

.faicon-commenting-o:before {
  content: "\f27b";
}

.faicon-houzz:before {
  content: "\f27c";
}

.faicon-vimeo:before {
  content: "\f27d";
}

.faicon-black-tie:before {
  content: "\f27e";
}

.faicon-fonticons:before {
  content: "\f280";
}

body {
  color: #333;
}

.title-name {
  font-size: 20px;
}

.badge {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #b0b1b0;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  padding-top: 5px;
  margin-right: 10px;
}

input[type="text"],
input[type="password"],
select {
  height: 40px;
  line-height: normal;
  padding: 10px 0 12px 12px;
  border: 1px solid #b0b1b0;
}

.relative {
  position: relative !important;
}

.error-input {
  border: 1px solid #ff5722 !important;
}

.body {
  background: #f1f3f3;
}
.body .title-step {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.body .title-step .steps {
  display: inline-block;
  height: 120px;
  width: 800px;
  margin: 0 auto;
  color: #b0b1b0;
}
.body .title-step .steps div {
  display: inline-block;
  width: 24%;
  height: 100%;
  text-align: center;
  padding-top: 80px;
}
.body .title-step .steps div.current .badge {
  background-color: #ff5722;
}
.body .title-step .steps div.current .text {
  color: #ff5722;
}
.body .title-step .steps .text {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}
.body .label {
  display: inline-block !important;
  padding: 10px 0 !important;
}
.body .span-input-verifyCode {
  width: 30% !important;
}
.body .span-btn-verifyCode {
  width: 35% !important;
}
.body .main {
  text-align: center;
}
.body .main .form {
  display: inline-block;
  width: 400px;
  padding-top: 60px;
}
.body .main .form div {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.body .main .form div > span {
  width: 65%;
  text-align: left;
  float: left;
}
.body .main .form div > span:first-child {
  width: 35%;
  height: 40px;
  padding: 10px 12px;
  text-align: right;
  font-size: 14px;
}
.body .main .form div > span input[type="text"],
.body .main .form div > span input[type="password"],
.body .main .form div > span select {
  width: 80%;
}
.body .main .form div > span button {
  display: inline-block;
  width: 60%;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background-color: #ff5722;
  border: none;
  border-radius: 4px;
}
.body .main .form div > span button.close {
  width: 40%;
  background-color: #8f827d;
}
.body .main .form div > span .faicon {
  position: absolute;
  top: 2px;
  right: 15px;
  font-size: 40px;
  color: #11cf6d;
}
.body .main .form div > span .text-success {
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
}
.body .main .form div.tips span {
  line-height: 40px;
}
.body .main .form div.tips span.long-text {
  position: absolute;
  margin-left: -115px;
  width: auto;
  color: #b0b1b0;
}
.body .main .form div.tips span.long-text:before {
  content: "*";
  position: absolute;
  margin-left: -10px;
  margin-top: 2px;
  color: #ff0000;
}
.body .main .form div.tips span i {
  margin-right: 10px;
}
.body .main .form div.error span {
  color: #ff5722;
}
