.body_box {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #f2f2f2;
  overflow: hidden;
  clear: both;
}

.main_content {
  width: 87.5%;
  background-color: #f2f2f2;
  min-height: 100%;
  float: left;
  padding-top: 10px;
  box-sizing: border-box;
}

.left_box {
  width: 20%;
  float: left;
  border-top: 1px solid #d9d9d9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.right_box {
  float: left;
  background-color: #fafafa;
  width: 80%;
  border: 1px solid #d9d9d9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
}