.main-title {
  display: block;
  font-size: 1.4em;
  font-weight: 400;
  color: $blue;
  line-height: 3em;
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 2px solid $blue;
}

.second-title {
  display: block;
  font-size: 1.2em;
  font-weight: 600;
  color: $blue;
  line-height: 1.2;
  margin: 1.5em 0;
  padding-left: .5em;
  border-left: 5px solid $red;
}

.content-block {
  padding: .5em 4em;
  background-color: #fff;
  border: 1px solid #ccc;

  .row {
    line-height: 32px;
    margin-top: 1em;
    margin-bottom: 1em;

    > label {
      text-align: right;
      padding-left: 0;
    }
  }

  input,
  select {
    vertical-align: middle;
  }

  [type="checkbox"],
  [type="radio"] {
    vertical-align: sub;
  }
}

.row.buttons {
  text-align: center;
  margin: 40px auto;

  a,
  button {
    margin: 0 1.5em;
  }

  a {
    padding: 0.5em 2.5em;
  }

  button {
    padding: 0em 2.5em;
  }
}

table.authority-table {
  width: 100%;
  margin: 15px 0;
  border: 1px solid $gray;

  th,
  td {
    text-align: center;
    vertical-align: middle;
  }

  th {
    line-height: 3;
    background-color: #cad2d8;
    font-size: 14px;
    font-weight: 600;
  }

  td {
    line-height: 2;
    padding: 1em;
    border: 1px solid $gray;

    .col-md-3 {
      text-align: left;
      padding-left: 15px;
    }
  }

  [type="checkbox"],
  [type="radio"] {
    vertical-align: middle;
  }
}

body, .wrapper {
  width: 100%;
  height: 100%;
}

.edit_form {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;

  table {
    width: 100%;

    tr {
      line-height: 4em;

      td:first-child {
        text-align: right;
        vertical-align: top;
        width: 10%;
      }
    }
  }

  label {
    vertical-align: middle;
  }

  input[type='text'] {
    height: 2em;
    width: 12.5em;
    padding: 2px 0 2px 2px;
    box-sizing: border-box;
  }

  input[type='radio'] {
    vertical-align: middle;
  }

  select {
    height: 2em;
    width: 12.5em;
    background-color: #fff;
  }

  textarea {
    width: 80%;
  }
}

.flow_list {
  line-height: 2.5em;
  padding: .5em;
  overflow: hidden;

  li {
    float: left;
    padding-left: 1em;
  }
}