extends account-layout

block content
    .container-fluid
        .main-title 账号详情
        .second-title 账号信息
        .content-block
            .row
                label.col-md-1.star-before 登录名：
                span.col-md-3.no-padding jerry
                span.col-md-2
                label.col-md-1.star-before 手机号：
                span.col-md-3.no-padding 13911234456
                span.col-md-2
            .row
                label.col-md-1.star-before 姓名：
                span.col-md-3.no-padding 洪平
                span.col-md-2
                label.col-md-1.star-before 邮箱：
                span.col-md-3.no-padding jerry@126.com
                span.col-md-2
            .row
                label.col-md-1.star-before 账号状态：
                span.col-md-3.no-padding 启用
                span.col-md-2
        .second-title 账号权限
        .content-block
            .row
                | 会员类型的默认权限/自定义权限（华伟中板专用包）
        div
            table.authority-table
                tr.title
                    th(width='12%') 模块
                    th(width='12%') 菜单
                    th(width='12%') 页签
                    th(width='64%') 操作项
                tr
                    td(rowspan='3')
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        div
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                        div
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                        div
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                    td
                        div
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  湘西土家族苗族自治区
                        div
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  张家界市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙长沙市
                        div
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                tr
                    td
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        div
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  张家界市
                tr
                    td
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        div
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  张家界市
                tr
                    td
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        div
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  张家界市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙长沙市
                tr
                    td(rowspan='2')
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        div
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                tr
                    td
                        label
                            input(type='checkbox', name='areaName')
                            |  长沙市
                    td
                        div
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                        div
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                    td
                        div
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                        div
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label.col-md-3
                                input(type='checkbox', name='areaName')
                                |  长沙市
        .row.buttons
            a.btn.btn-gray(href="account-mgt.html") 返回

    script(type="text/javascript").
        require(['jquery'], function($) {
            locate('会员', '账号管理', '账号管理', 'back-account');
        });
