extends channel-authorization-layout

block content
    .main-title
        | 找钢网
        span.default 授权
    .second-title 区域授权
    .table-block
        .table-center
            table
                tr.title
                    th(width='12%') 类型
                    th(width='12%') 省份
                    th(width='60%') 城市
                    th(width='16%') 操作
                tr.odd
                    td 自提区域
                    td 湖南省
                    td
                        .checkbox-group
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  湘西土家族苗族自治区
                        .checkbox-group
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  张家界市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙长沙市
                        .checkbox-group
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                    td
                        button.btn.btn-xs.btn-primary.no-radius 全选
                        button.btn.btn-xs.btn-default.no-radius 反选
                tr.even
                    td 自提区域
                    td 湖南省
                    td
                        .checkbox-group
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  湘西土家族苗族自治区
                        .checkbox-group
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                        .checkbox-group
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                    td
                        button.btn.btn-xs.btn-primary.no-radius 全选
                        button.btn.btn-xs.btn-default.no-radius 反选
    .second-title 品类授权
    .table-block
        .table-center
            table
                tr.title
                    th(width='24%') 品类
                    th(width='60%') 二级品类
                    th(width='16%') 操作
                tr.odd
                    td 建材
                    td
                        .checkbox-group
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  湘西土家族苗族自治区
                        .checkbox-group
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  张家界市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙长沙市
                        .checkbox-group
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                    td
                        button.btn.btn-xs.btn-primary.no-radius 全选
                        button.btn.btn-xs.btn-default.no-radius 反选
                tr.even
                    td 板材
                    td
                        .checkbox-group
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  湘西土家族苗族自治区
                        .checkbox-group
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                        .checkbox-group
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                            label
                                input(type='checkbox', name='areaName')
                                |  长沙市
                    td
                        button.btn.btn-xs.btn-primary.no-radius 全选
                        button.btn.btn-xs.btn-default.no-radius 反选
    .buttons-foot-bar
        button.btn.btn-form-search.no-radius(type='button') 确认授权
        button.btn.btn-cancel.no-radius(type='button') 返回

    script(type='text/javascript').
        require(['jquery'], function ($) {
            locate('渠道管理', '渠道授权', '渠道授权');
        });
