@import "../icons/icons-faicons";

$currColor: #ff5722;
$bdColor: #b0b1b0;
$bgColor: #f1f3f3;

body {
  color: #333;
}

.title-name {
  font-size: 20px;
}

.badge {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: $bdColor;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  padding-top: 5px;
  margin-right: 10px;
}

input[type="text"],
input[type="password"],
select {
  height: 40px;
  line-height: normal;
  padding: 10px 0 12px 12px;
  border: 1px solid $bdColor;
}


.relative {
  position: relative !important;
}

.error-input {
  border: 1px solid $currColor !important;
}

.body {
  background: $bgColor;

  .title-step {
    text-align: center;
    border-bottom: 1px solid #ddd;

    .steps {
      display: inline-block;
      height: 120px;
      width: 800px;
      margin: 0 auto;
      color: $bdColor;

      div {
        display: inline-block;
        width: 24%;
        height: 100%;
        text-align: center;
        padding-top: 80px;

        &.current {
          .badge {
            background-color: $currColor;
          }
          .text {
            color: $currColor;
          }
        }
      }

      .text {
        color: #999;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .label{
    display: inline-block !important;
    padding: 10px 0 !important;
  }
  .span-input-verifyCode{
    width: 30% !important;
  }
  .span-btn-verifyCode{

    width: 35% !important;
  }

  .main {
    text-align: center;

    .form {
      display: inline-block;
      width: 400px;
      padding-top: 60px;

      div {
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;

        > span {
          width: 65%;
          text-align: left;
          float: left;

          &:first-child {
            width: 35%;
            height: 40px;
            padding: 10px 12px;
            text-align: right;
            font-size: 14px;
          }

          input[type="text"],
          input[type="password"],
          select {
            width: 80%;
          }

          button {
            display: inline-block;
            width: 60%;
            height: 36px;
            line-height: 36px;
            color: #fff;
            background-color: $currColor;
            border: none;
            border-radius: 4px;

            &.close {
              width: 40%;
              background-color: #8f827d;
            }
          }

          .faicon {
            position: absolute;
            top: 2px;
            right: 15px;
            font-size: 40px;
            color: #11cf6d;
          }

          .text-success {
            font-size: 18px;
            font-weight: 600;
            line-height: 40px;
          }
        }

        &.tips span {
          line-height: 40px;

          &.long-text {
            position: absolute;
            margin-left: -115px;
            width: auto;
            color: $bdColor;

            &:before {
              content: "*";
              position: absolute;
              margin-left: -10px;
              margin-top: 2px;
              color: #ff0000;
            }
          }

          i {
            margin-right: 10px;
          }
        }

        &.error span {
          color: $currColor;
        }

      }
    }
  }



}