@charset "utf-8";


.message-set-table,
.platform-notice-table {

  tr {
    td,
    th {
      padding: 1em;
    }

    td:first-child {
      text-align: left;
      padding-left: 3em;
    }
  }
}

// for multiselect

.btn-group {
  width: 100%;

  button {
    width: 100%;
    border-radius: 0;
  }
}

.btn-group
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: static;
}