@charset "utf-8";

@import "../partials/variables";

$pagination-height: 60px;

.ui_pagination {
  height: $pagination-height;
  line-height: $pagination-height;
  padding: 0em 2em;
  text-align: center;
  color: $gray-deep;
  background-color: $gray-light;

  ul {
    padding-left: 0;
    list-style: none;
  }

  .page_size {
    float: left;
    line-height: $pagination-height;

    ul {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: .5em;
      line-height: 22px;

      li {
        float: left;
        margin-left: .5em;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border: 1px solid $gray-medium;
        background-color: #fff;
        cursor: pointer;

        &.selected {
          color: $blue-deep;
          border-color: $blue-deep;
          cursor: not-allowed;
        }
      }
    }
  }

  .pagination {
    display: inline-block;
    line-height: 60px;
    margin: 0;

    li {
      float: left;
      cursor: pointer;

      span,
      a {
        display: inline-block;
        padding: 0 .5em;
        height: 2em;
        line-height: 22px;
        margin-left: .5em;
        border-radius: 2em;
        border: 1px solid $gray-medium;
        background-color: #fff;
        text-decoration: none;
      }

      a.page:hover {
        color: #fff;
        background-color: $gray-medium;
        border-color: $gray-medium;
      }

      &.active span {
        color: #fff;
        background-color: $gray-medium;
        border-color: $gray-medium;
      }

      &.disabled span {
        cursor: not-allowed;
        color: #cecece;
      }
    }
  }

  .page_total {
    float: right;
    line-height: 60px;

    .go_input,
    .go_btn {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      width: 2em;
      height: 2em;
      line-height: 22px;
      border-radius: 50%;
      border: 1px solid $gray-medium;
      margin: 0 .5em .5em .5em;
    }

    .go_btn {
      color: #fff;
      background-color: $blue-deep;
      border: 1px solid $blue-deep;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        border-color: $blue-light;
        background-color: $blue-light;
      }
    }
  }
}

