//----------------------------
// colors
//----------------------------
$blue-lighter: #f1f9fe;
$blue-light: #3aa3dd;
$blue-deep: #2994cf;

$blue-edi: #00a6e4;

$orange-lighter: #fef8f5;
$orange-light: #fda575;
$orange-deep: #ff5a00;

$green: #11ce6e;

$gray-lighter: #fafbfa;
$gray-light: #f1f2f3;
$gray-medium: #dedcdc;
$gray-deep: #7d7c7c;

$black-light: #5c5c5c;

//----------------------------
// size
//----------------------------
$row-height: 32px;

$default-gap: 15px;

$defalut-font-size: 12px;

$header-height: 5em;
$slider-height: 4em;
$collapse-height: 2.5em;

$height-medium: 2.5em;
$horizontal-padding: 1.5em;