doctype html
html(lang="zh-CN")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="renderer", content="webkit")
        meta(name="viewport", content="width=device-width, user-scalable=no")

        title 找回密码

        link(rel="stylesheet", type="text/css", href="../../css/steelwork-operation/login.css")
        link(rel="stylesheet", type="text/css", href="../../css/steelwork-operation/modules/find-password.css")
    body
        .wrapper
            .header
            .body
                .title-step
                .main
                    .form
                        div
                            span 请选择验证方式：
                            span
                                select
                                    option 手机验证
                                    option 邮箱验证
                        div
                            span 手机号码：
                            span.label 15576652266

                        div
                            span 验证码
                            span.span-input-verifyCode
                                input(type="text")
                            span.span-btn-verifyCode
                                button(type="button") 发送验证短信

                        div
                            span
                            span
                                button(type="button") 下一步

            .footer

        script(src="../../js/libs/require.js")
        script(src="../../js/base.js")

        script(type="text/javascript").
            require(['jquery', 'tplUtil', 'text!../template/modules/login.rac', 'text!../template/modules/find-password.rac', 'icheck'], function ($, TplUtil, LoginTpl, FindTpl) {

                TplUtil.loadTpl({
                    el: '.header',
                    template: $(LoginTpl).filter('#header-content').html(),
                    data: {
                        name: '找回密码'
                    }
                });

                TplUtil.loadTpl({
                    el: '.footer',
                    template: $(LoginTpl).filter('#footer-content').html()
                });

                TplUtil.loadTpl({
                    el: '.title-step',
                    template: $(FindTpl).filter('#fint-steps').html(),
                    data: {
                        items: [
                            {step: 1, link: 'find-1.html', stepName: '输入用户名'},
                            {step: 2, link: 'find-2.html', stepName: '发送验证消息', current: true},
                            {step: 3, link: 'find-3.html', stepName: '重置密码'},
                            {step: 4, link: 'find-4.html', stepName: '重置成功'}
                        ]
                    }
                });

                $('input').iCheck({
                    checkboxClass: 'icheckbox_minimal-green',
                    radioClass: 'iradio_minimal-green',
                    increaseArea: '20%' // optional
                });
            });