extends settings-layout
block content

    .container-fluid.option-settings-content
        .col-md-3
            .content-block
                div.input-group
                    input.form-widget.no-radius(type="text")
                    button.btn.btn-red.no-radius(type="button") 查询
                .mgt-20
                    ul.ui_tree
                        each item in ["基础数据", "资源采购-采", "会员", "交易管理-供", "渠道管理", "销售", "定价管理", "设置中心", "系统", "销售"]
                            li
                                span.close_triangle
                                a(href="javascript:void(0);") #{item}


        .col-md-9
            .content-block
                .row
                    label.col-md-2.star-before 常用项：
                    input.col-md-4.form-widget.no-radius(placeholder="请从左侧点选常用项")
                .row
                    label.col-md-2.star-before 参数描述：
                    input.col-md-4.form-widget.no-radius
                    .col-md-2
                        input(type="checkbox")
                        |设为默认
                .row
                    label.col-md-2.star-before 参数代码：
                    input.col-md-4.form-widget.no-radius(placeholder="自定规则系统自动生成")
                .row
                    label.col-md-2.star-before 参数值：
                    input.col-md-4.form-widget.no-radius(placeholder="自定规则系统自动生成")
                .row
                    .col-md-4.col-md-offset-2.pdl-0.mgt-10
                        button.btn.btn-blue.no-radius.width-90(type="button") 保存


    script(type="text/javascript").
        require(['jquery', 'pagination', 'confirm'], function ($, Pagination, Confirm) {
            locate('基础数据', '常用项设置', '常用项设置', 'back-settings');


        });
